*{
    font-family:Nunito;
    margin: 0;padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 1s;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    background: #e2f3ef;
}
section{
    padding: 6%;
}
.heading{
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: #666;
    font-family: ink free;
}
.heading span{
    color: red;
    
}
.btn{
    display: inline-block;
    padding: .8rem 3rem;
    border: 2px solid #ff3838;
    color: #ff3838;
    font-size: 1.7rem;
    border-radius: .5rem;
    margin-top: 1rem;
}

.btn:hover{
    color: #fff;
    background: blue;
    border: 2px solid rgb(10, 241, 10);
    border-radius: 20px 0px 20px 0px;
}
/*header section*/
header{
    position: fixed;
    top:0;left: 0; right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    background: white;
}
header .logo{
font-size: 3.5rem; 
color:gray;
margin-left: 50px;
font-family: ink free;
padding-top: -20px;
}
header .logo img{
height: 40px;
width: 50px;
}
header .navbar {
    margin-left: 50rem;
}
header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color:gray;
}
header .navbar a:hover{
    color: red;
}
header{
    padding: 1.5rem;
}
/*header section*/

/*home section*/
.home{
    display: flex;
    gap: 1.5rem;
    height: 100vh;
    align-items: center;
}
.home .content{
    flex:3.5;
    padding-top: 6.5rem;
}
.home .image{
    flex:40rem;
}
.home .image img{
    width: 20%;
    height: 100px;
    padding: 1rem;
    transition: width 2s, height 2s, transform 2s;
    border-radius: 20px;
}
.home .image img:hover{
    width: 80%;
    height: 300px;
    transform: rotate(360deg);
    border: 3px solid rgba(0, 0, 0, .3);
}
.home .content h3{
    font-size: 5rem;
    color:#333;
    font-family: ink free;
}
.home .content p{
    font-size: 1.7rem;
    color:#666;
    padding: 1rem ;
}
/*home section*/

/*steps section*/
.speciality .box-container{
    display: flex ;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.speciality .box-container .box{
    flex:30rem;
    position: relative;
    overflow: hidden;
    border: 1rem solid  rgba(0, 0, 0, .3);
    cursor: pointer;
    border-radius: .5rem;
}
.speciality .box-container .box .image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 100%; 
}

.speciality .box-container .box .content{
    text-align: center;
    background: #fff;
    padding: 2rem;
}

.speciality .box-container .content img{
    margin: 1.5rem;
    width: 50px;
    height: 50px;
}

.speciality .box-container .content h3{
    font-size: 2.5rem;
    color: #333;
}
.speciality .box-container .content p{
    font-size: 1.4rem;
    color: #666;
    padding: 1rem 0;

}
.speciality .box-container .box:hover .image{
    left:  0;
}
/*speciality section*/


/*popular section*/
.popular .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.popular .box-container .box{
    padding: 2rem;
    background: #fff;
    border: 1rem solid rgba(0, 0, 0, .3);
    text-align: center;
}
.popular .box-container .box img{
    height: 25rem;
    object-fit: cover;
    width: 100%;
    border-radius: .5rem;
}
.popular .box-container .box .price{
    position: absolute;
    top: 3rem;left: 3rem;
    background: red;
    color: #fff;
    font-size: 2rem;
    padding: .5rem ;
    border-radius: .5rem;
}
.popular .box-container .box h3{
    color: #333;
    font-size: 2.5rem;
    padding-top: 1rem;
}
/*popular section*/

/*steps section*/
.steps{
    display: flex;
    gap: 1.5rem;
    padding: 1rem ;
}
.steps .box{
    padding: 1rem;
    text-align: center;
}
.steps .box img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1rem solid  rgba(0, 0, 0, .1);
}
.steps .box h3{
    font-size: 3rem;
    color: #333;
    padding: 1rem ;
}
/*steps section*/

/*gallery section*/
.gallery .abdul{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.gallery .abdul .hamid{
    height: 25rem;
    flex:30rem;
    border: 1rem solid rgba(0, 0, 0, .3);
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    display: flex;
}
.gallery .abdul .hamid img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.gallery .abdul .hamid .said{
    position: absolute;
    top: -100%;left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,.8);
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
}
.gallery .abdul .hamid .said h3{
    font-size: 2.5rem;
    color: #333;
}
.gallery .abdul .hamid .said p{
    font-size: 1.3rem;
    color: #666;
    padding: 1rem;
}
.gallery .abdul .hamid:hover .said{
    top: 0;
}
/*gallery section*/

/*review section*/
.review .akhil{
    display: flex;
    gap: 1rem;
}
.review .akhil .nikhil{
    text-align: center;
    padding: 2rem;
    border: 1rem solid #fff;
    border-radius: .5rem;
    flex: 20rem;
    background: rgba(0, 0, 0, 0.575);
    margin-top: 6rem;
}
.review .akhil .nikhil img{
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    border: 1rem solid #fff;
    margin-top: -8rem;
    object-fit: cover;
}
.review .akhil .nikhil h3{
    font-size: 2.5rem;
    color: #fff;
    padding: .5rem ;
}
.review .akhil .nikhil p{
    font-size: 1.5rem;
    color: #eee;
    padding: .5rem ;
}
/*review section*/

/*order section*/
.order .row{
    padding: 2rem;
    border: 3px solid rgba(0, 0, 0, .3);
    background: #fff;
    display: flex;
    gap:1.5rem;
    border-radius: .5rem;
}
.order .row .image{
    flex: 20rem;
}
.order .row .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: .5rem;
}
.order .row form{
    flex:50rem;
    padding: 1rem;
}
.order .row form .inputBox{
    display: flex;
    justify-content: space-between;
}
.order .row form .inputBox input, .order .row form textarea{
    padding: 1rem;
    margin: 1rem ;
    font-size: 1.7rem;
    color: #333;
    border: 2px solid rgba(0, 0, 0, .3);
    border-radius: .5rem;
    width: 49%;
}
.order .row form textarea{
    width: 100%;
    resize: none;
    height: 15rem;
}
.order .row form .btn{
    color: black;
    border: none;
}
.order .row form .btn:hover{
    background:black;
    color: white;
}
/*order section*/

/*footer section*/
.footer{
    background: black;
    text-align: center;
    border-radius: 30px;
}
.footer .share{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}
.footer .credit{
    padding: 2.5rem;
    color: #fff;
    font-weight: normal;
    font-size: 2rem;
}
.footer .credit span{
    color: red;
}
/*footer section*/























/*.speciality .box-container{
    display: flex ;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.speciality .box-container .box{
    height: 25rem;
    flex:30rem;
    border: 1rem solid rgba(0, 0, 0, .3);
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
    display: flex;
}
.speciality .box-container .box .image{
    height: 100%;
    width: 100%;
    object-fit: cover; 
}
.speciality .box-container .box  .zenji{
    position: absolute;
    top: -100%;left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,.8);
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
}
.speciality .box-container .content h3{
    font-size: 2.5rem;
    color: #333;
}
.speciality .box-container .content p{
    font-size: 1.4rem;
    color: #666;
    padding: 1rem ;

}
.speciality .box-container .box:hover .zenji{
    left:  0;
}
















































/*Media queries
.speciality .box-container .box:hover .content{
    transform: translateY(100%);
}
*/